body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #92a1bd;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: rgb(209, 230, 230);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 40%;
    display: block;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.card-content p {
    margin: 10px 0 0;
    color: #666;
}
footer {
    background: #72a4b8;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}